    body,
    html {
        height: 100%;
    }
    
    .navbar {
        background-color: #383335;
    }
    
    .navigasi {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        font-family: segoe ui light;
        font-weight: bold;
    }
    
    .arp{
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #efefef;
    }
    
    section .go-top {
        font-size: 2em;
        position: absolute;
        margin-top: -50px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        border-left: 50px solid transparent;
        border-bottom: 50px solid white;
        border-right: 50px solid transparent;
        z-index: 1;
        cursor: pointer;
    }
    
    section .go-top .icon {
        position: absolute;
        color: #efefef;
        margin-left: -15px;
        margin-top: 10px;
    }