 page {
     padding-bottom: 10px;
 }
 page #headbig {
     height: 277px;
     background-color: #383335;
     margin-top: 32px;
     pointer-events: none;
     color: white;
 }
 page #headbig #figure_big {
     padding: 12px;
     margin: 32px
 }
 #menu_headbig {
     width: 90%;
     height: 100%;
     margin: -8px;
     margin-top: 8px;
     background-color: #FF9E00;
     text-align: center;
     color: white
 }
 h1 {
     text-decoration: underline;
 }
 .box1 {
     width: 1100px;
     height: 800px;
     background-color: #03C9A9;
     margin-top: 0px;
     margin-left: 120px;
 }
img.logo{
    width: 200px;
    height: 60px;
}
 .img-responsive {
     width: 300px;
     height: 300px;
     margin-left: 480px;
     margin-bottom: 20px;
 }
p.san{
    font-weight: bolder;
     text-align: center;
    font-size: 30px;
}
 
 p.nas {
     text-align: justify;
     text-align: center;
 }
.col-lg-8{
    margin-left: 240px;
    margin-bottom: 50px;
}
.col-lg-12{
    background-color: aliceblue;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 100%;
    border-width: 1px;
} 