body{
    background-color:#cac6e6;
}     

.navbar {
     background-color:#12143a;
     margin-left: 7.4%;
     margin-right: 7.4%;
     height: 10px;
 }
 .nav {
     margin-right: 50px;
 }
 .navigasi {
     color: white;
     font-size: 17px;
     text-transform: uppercase;
     font-family: segoe ui light;
     font-weight: bold;
 }
 img.logo {
     width: 200px;
     height: 60px;
     margin-left: 20px;
 }
 .img-responsive {
     width: 300px;
     height: 300px;
     margin-left: 480px;
     margin-bottom: 20px;
}

.col-lg-10{
    width: 87.5%;
    height: 70%;
    margin-left: 85px;
    position: relative;
}

.headerTulisan{
    position: absolute;
    margin-top: 150px;
    margin-left: 35%;
    
    text-align: center;
    color: white;
}

.headerTulisan h1{
    font-weight: 700;
    
}

.col-sm-10{
    width: 85.22%;
    min-height: 150%;
    margin-left: 7.4%;
    position: relative;
    margin-right: 7.4%;
    background-color: white;
}

.kategori{
    padding-top: 20px;
    
}

.kategori h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #334862;
}

.kategori h1{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    
}
.header1{
    margin-top: 70px;
}
.kategori hr{
    width: 50px; 
    background-color: #cac6e6;
    height: 3px;
}

.kategori h5{
    text-align: center;
    text-transform: uppercase;
    color: #334862;
    font-size: 13px;
}

.kategori img{
   margin-left: 200px;
    margin-top: 15px;
    
}

.kategori p{
    margin-top: 35%;
    text-align:justify;
    margin-left: 30px;
    margin-right: 30px;
}

.button {
    font-family: 'Segoe ui light';
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.2rem;
    border: 3px solid #bbd2d9;
    color: #bbd2d9;
    font-weight: 900;
    height: 35px;
    width: 180px;
    padding-top:7px ;
    padding-left: 8px;
    margin-left: 250px;
    margin-top: 20px;
    
}

a.button:hover{
    background-color: #bbd2d9;
    color: white;
}

.garis{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.garis p{
    margin-top: -10px;
}

.garis2{
    margin-top: 0px;
}

.garis h5{
    float: right;
    margin-top: -28px;
    text-decoration: none;
}

.col-sm-2{
    border-left: 1px solid;
    border-color: #cac6e6;
    margin-top: 20px;
}
    
