body {
    background-image: url(../image/background.jpg);
}

.button {
    font-family: 'Segoe ui light';
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.2rem;
    height: 40px;
    width: 260px;
    margin-top: 20px;
    margin-left: 26%;
    padding-top: 10px;
    border: 3px solid white;
    color: white;
    font-weight: 900;
    
}

.buttona {
    font-family: 'Segoe ui light';
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.2rem;
    height: 40px;
    width: 260px;
    margin-left: 1%;
    padding-top: 10px;
    border: 3px solid white;
    color: white;
    font-weight: 900;
    
}

a.button:hover{
    background-color: white;
    color: #062438;
}

a.buttona:hover{
    background-color: white;
    color: #062438;
}

.row img{
    width: 60%;
    margin-top: 15%;
    margin-left: 20%;
}
input[type=text],
input[type=password],
button[type=submit] {
    width: 80%;
    margin-left: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*    END MODAL */
