    body,
    html {
        height: 100%;
    }
.container{
    max-width: 1080px;
}
    .parallax {
        /* The image used */
        background-image: url(../image/background.jpg);
        /* Full height */
        height: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar {
        background-color: transparent;
        margin-top: 70px;
        transition: all 0.1s;
    }
    .ikan {
        background-image: url(../image/logohumblewhite.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 170px;
        height: 50px;
    }
    .navigasi {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        font-family: segoe ui light;
        font-weight: bold;
    }
   
    /*MODAL*/
.modal{
    overflow-y: scroll;
}
    .select,input[type=text] {
        width: 90%;
        margin-left: 40px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .lbl {
        margin-left: 40px;
    }
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    /* The Modal (background) */
    
    .modal-login {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
    }
    /* Modal Content/Box */
    
    .modal-login-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        /* Could be more or less, depending on screen size */
        width: 60%;
    }
    /* The Close Button (x) */
    
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    /* Add Zoom Animation */
    
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* Change styles for span and cancel button on extra small screens */
    
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
    /*    END MODAL */
    
    #homeHeader {
        text-align: center;
        text-transform: uppercase;
        font-size: 50;
        font-weight: 600;
        color: white;
        margin-top: 190px;
    }
    .visi {
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-size: 30;
    }
    hr {
        width: 25%;
    }
    .pilihan {
        height: 100%;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #2481b7;
    }
.pilihana {
        height: 100%;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #f2cfa7;
    }
.pilihanb {
        height: 100%;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #c7e8e4;
        text-align: center;
    }
.pilihanc {
        height: 70%;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color:#e8e56a;
        text-align: center;
    }
.map{
    margin-top: 30px;
    width: 100%;
    height: 15%;
}
.pilihand {
        height: 137%;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color:#c6afed;
        text-align: center;
    }
.pilihane {
        height: 10%;
        background-color:#12143a;
        text-align: center;
    }
h2.c{
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
h4.e{
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.col-sm-6 img{
    width: 518px;
    height: 382px;
}
.col-sm-6 h2{
    text-transform: uppercase;
    margin-top:30px;
    font-weight: 600;
    color: white;
}
h2.b{
    font-weight: 600;
    text-transform: uppercase;
}
img.a{
    border-radius: 50px;
    max-width: 100%;
}
.col-sm-6 p{
    text-align: justify;
    margin-right: 100px;
    margin-top: 20px;
    font-family: "segoe ui light";
    color: white;
    font-size: 20px;
}
.col-sm-6 h2.a{
    text-transform: uppercase;
    margin-top:30px;
    font-weight: 600;
    color: black;
}
.col-sm-6  p.a{
    text-align: justify;
    margin-right: 100px;
    margin-top: 20px;
    font-family: "segoe ui light";
    color:black;
    font-size: 20px;
}
.col-sm-12{
    padding-top: 20px;
}

.button {
    font-family: 'Segoe ui light';
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 2.3em 2.9em;
    font-size: 1.2rem;
    border: 3px solid white;
    color: white;
    font-weight: 900;
}
.buttona {
    border-width: 3px solid #062438;
    font-family: 'Segoe ui light';
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border-radius: 0;
    padding: 2.3em 2.9em;
    font-weight: bold;
    font-size: 1.2rem;
    border: 3px solid #062438;
    color: black;
}
a.button:hover{
    background-color: white;
    color: #062438;
}
button.buttona:hover{
    
    background-color: white;
    color: #062438;
}
input,
input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 600;
}
textarea,
textarea::-webkit-textarea-placeholder {
    font-size: 16px;
    font-weight: 600;
}
a.buttona:hover{
    background-color: #062438;
    color: white;
}

input[type=text].a {
    height: 40px;
    color: black;
    margin-bottom: 30px;
}
textarea.b{
    width: 95%;
    margin-left: 39px;
    height: 200px;
}

    .teksberita {
        margin-top: -40px;
        margin-bottom: 30px;
    }
    .teksberita h4 {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: #383335;
    }
    .teksberita p {
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: -5px;
        color: #383335;
    }
    .thum {
        position: relative;
    }
    .gbr {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .gam1 {
        top: 30px;
        height: 280px;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    .mid1 {
        left: 320px;
        top: 200px;
    }
    .mid2 {
        left: 63%;
        top: 135px;
    }
    .mid3 {
        left: 88%;
        top: 150px;
    }
    .mid4 {
        left: 75%;
        top: 450px;
    }
    .thum:hover .gbr {
        opacity: 0.3;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .thum:hover .middle {
        opacity: 1;
    }
    .text {
        background-color: transparent;
        color: white;
        border: 4px solid white;
        font-size: 16px;
        padding: 16px 32px;
    }
    .text:hover {
        background-color: rgba(51, 51, 51, 0.77);
    }
    section .go-top {
        font-size: 2em;
        position: absolute;
        margin-top: -50px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        border-left: 50px solid transparent;
        border-bottom: 50px solid #383335;
        border-right: 50px solid transparent;
        z-index: 1;
        cursor: pointer;
    }
    section .go-top .icon {
        position: absolute;
        color: #efefef;
        margin-left: -15px;
        margin-top: 10px;
    }
    .fa-twitter {
        border-radius: 100%;
        background-color: #37a7eb;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
    }
    .fa-twitter:hover {
        background-color: #0D95E8;
    }
    .fa-facebook {
        border-radius: 100%;
        background-color: #4765a3;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 13px;
        padding-top: 10px;
    }
    .fa-facebook:hover {
        background-color: #344E86;
    }
    .fa-google-plus {
        border-radius: 100%;
        background-color: #e54b38;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
    }
    .fa-google-plus:hover {
        background-color: #D73925;
    }
    .footer {
        background-color: #383335;
        color: white;
    }

