    body,
    html {
        height: 100%;
    }
    
    .navbar {
        background-color: #12143a;
    }
    
    .navigasi {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        font-family: segoe ui light;
        font-weight: bold;
    }

/*MODAL*/
    
 .select,
    input[type=text]{
        width: 80%;
        margin-left: 40px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
.lbl{
    margin-left: 40px;
}

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
  
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        /* Could be more or less, depending on screen size */
        width: 60%;
    }
    /* The Close Button (x) */
    
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    /* Add Zoom Animation */
    
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* Change styles for span and cancel button on extra small screens */
    
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }


/*    END MODAL */
    
    .arp{
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #efefef;
    }
    

   section .go-top {
        font-size: 2em;
        position: absolute;
        margin-top: -50px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        border-left: 50px solid transparent;
        border-bottom: 50px solid #383335;
        border-right: 50px solid transparent;
        z-index: 1;
        cursor: pointer;
    }
    
    section .go-top .icon {
        position: absolute;
        color: #efefef;
        margin-left: -15px;
        margin-top: 10px;
    }
    
    .fa-twitter {
        border-radius: 100%;
        background-color: #37a7eb;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .fa-twitter:hover {
        background-color: #0D95E8;
    }
    
    .fa-facebook {
        border-radius: 100%;
        background-color: #4765a3;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 13px;
        padding-top: 10px;
    }
    
    .fa-facebook:hover {
        background-color: #344E86;
    }
    
    .fa-google-plus {
        border-radius: 100%;
        background-color: #e54b38;
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .fa-google-plus:hover {
        background-color: #D73925;
    }
    
    .footer {
        background-color: #383335;
        color: white;
    }